# Local Terraform state
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Sensitive variable files
terraform.tfvars
*.tfvars.json

# Local .terraform directories
.terraform/

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
